{% extends 'main.twig' %}

{% block content %}
    <h1>Добавить товар</h1>
<form method="post">
    <input name="name" placeholder="Название товара">
    <input name="price" placeholder="Цена товара">
    <input name="info" placeholder="Описание товара">
    <input type="submit">
</form>
{% endblock %}