{% extends 'main.twig' %}

{% block content %}
    <h1>Авторизация</h1>
<form method="post">
    <p>Логин: <input name="login" placeholder="login"></p>
    <p>Пароль: <input name="password" placeholder="password"></p>
    <input type="submit">
</form>
{% endblock %}