{% extends 'main.twig' %}

{% block content %}
    <h1>Регистация</h1>
<form method="post">
    <input name="login" placeholder="login">
    <input name="password" placeholder="password">
    <input name="name" placeholder="name">
    <input type="submit">
</form>
{% endblock %}